# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/
.eggs/
dist/
build/

# Database
backend/data/*.db

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
